<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>timetable</title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
  <div class="wrapper">
    <div class="main-bar">
      <span class="search-bar__close-btn"><i class="fa-solid fa-arrow-left-long"></i></span>
      <span><i class="fa-solid fa-magnifying-glass"></i></span>
      <span>어디로 가시나요?</span>
    </div>

    
      <hr class="line">
      <div class ="tt-title">
        <span class="right">출발</span>
        <span class="right">도착</span>
        <span class="right1">등급</span>
        <span class="right1">요금</span>
        <span class="right2">소요시간</span>
      </div>  
      <hr class="line-btm">

      <div class="time">
        <span class="right-t">07:13<br>개양</span>
        <span class="right-t">09:08<br>대전</span>
        <span class="right-a">프리미엄</span>
        <span class="right-b">23,400원</span>
        <span class="right-c">1시간55분</span>
      </div>
      <hr class="line-t">
     <hr>
    
  </div>
    
    
  

  
</body>
</html>