@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* screens */
@import "screens/main.css";

/* components */
@import "components/top-bars.css";
@import "components/favorites.css";
@import "components/search-bar.css";

@import "reset.css";
@import "variables.css";

body {
  margin: 20px auto;
  background-color: var(--body-color);
}

.wrapper {
  position: relative;
  padding: 20px;
  width: 320px;
  background-color: var(--main-color);
}

.invisible {
  display: none;
}
